@model List<Onebrb.MVC.Areas.Message.ViewModels.Message.ViewMessageVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>All messages</h2>
<form method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
                <th scope="col">Date Sent</th>
                <th scope="col">From</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@Model[i].Title</td>
                <td>@Model[i].Text</td>
                <td>@Model[i].DateSent</td>
                <td>@Model[i].Author</td>
                <td>
                    <a title="Reply" asp-action="Create" asp-route-id="@Model[i].Author" class="btn btn-success"><i class="fas fa-reply"></i></a>
                    <button title="Delete" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</form>