@using Onebrb.MVC.Areas.Manager.Models;
@model Job

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if  (@Model.Company.Jobs == null || @Model.Company.Jobs.Count == 0)
{
    <div class="alert alert-info" role="alert">
        @Model.Company.Name doesn't have any jobs posted.
    </div>
}

<div class="col-lg-6">
    <form asp-action="Create" asp-route-id="@Model.CompanyId" method="post">
        <div class="form-group">
            <h2>New job for @Model.Company.Name</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; Create</button>
        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-list"></i>&nbsp; All jobs</a>
    </form>
</div>