@using Onebrb.MVC.Areas.Manager.Models;
@model List<Company>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your companies</h1>
<hr />

@if (Model == null || Model.Count() == 0)
{
    <h2>You don't have any companies created.</h2>
    <div>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; New company</a>
    </div>
}
else
{
    <div class="form-group">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> &nbsp; New company</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Company</th>
                <th scope="col">Address</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr class="@(@Model[i].IsDisabled ? "company-disabled" : "company-enabled")">
                    <th scope="row">@(i + 1)</th>
                    <td><a asp-action="View" asp-route-id="@Model[i].Id">@Model[i].Name</a></td>
                    <td>@Model[i].Address</td>
                    <td>@Model[i].Url</td>

                    <td>
                        <a class="btn btn-success" title="Edit company" asp-action="Edit" asp-route-id="@Model[i].Id"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-info" title="Jobs" asp-area="Manager" asp-controller="Job" asp-action="Create" asp-route-id="@Model[i].Id"><i class="fas fa-users"></i></a>
                        @if (@Model[i].IsDisabled)
                        {
                            <a class="btn btn-warning" title="Enable company" asp-action="Enable" asp-route-id="@Model[i].Id"><i class="fas fa-lock-open"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-warning" title="Disable company" asp-action="Disable" asp-route-id="@Model[i].Id"><i class="fas fa-lock"></i></a>
                        }
                        <a class="btn btn-danger" title="Delete company" asp-action="Delete" asp-route-id="@Model[i].Id"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

